body {
    font-family: sans-serif;
    font-size: 12px;
}

td {
    padding-left: 4px;
    padding-right: 4px;
}

th {
    padding-left: 4px;
    padding-right: 4px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.header {
    padding-bottom: 20px;
}

.title-divider {
    margin-bottom: 20px;
}

.margin-bottom-negative {
    margin-bottom: -8px;
}

.signature-section {
    position: relative;
}

.signature {
    font-family: 'Meow Script', cursive;
    font-size: 30px;
}

.signature-underline {
    width: 400px;
    border-bottom: 1px solid black;
    position: absolute;
    top: 40px;
}

.signature-caption {
    font-size: 10px;
    position: absolute;
    top: 54px;
}

.block {
    margin-bottom: 20px;
}

.block-body {
    padding-bottom: 5px;
    font-weight: 600;
}

.short-value {
    width: 200px;
    border-bottom: 1px solid black;
}

.medium-value {
    width: 400px;
    border-bottom: 1px solid black;
}

.long-value {
    border-bottom: 1px solid black;
}

.document-value {
    display: flex;
    width: 400px;
    flex-direction: column;
    border-bottom: 1px solid black;
}

.single-select-value {
    width: 200px;
    border-bottom: 1px solid black;
}

.multie-select-value {
    width: 200px;
    border-bottom: 1px solid black;
}

/* Commentary styles */
.commentary-superscript {
    vertical-align: super;
    font-size: 0.7em;
    color: #0066cc;
    font-weight: bold;
    margin-left: 2px;
    cursor: pointer;
}

.commentary-page {
    page-break-before: always;
}

.commentary-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.commentary-item {
    margin-bottom: 25px;
    display: block;
}

.commentary-header {
    display: flex;
    align-items: center;
}

.commentary-index {
    font-weight: bold;
    color: #0066cc;
    min-width: 30px;
    flex-shrink: 0;
    cursor: pointer;
}

.commentary-label {
    font-weight: bold;
    flex-grow: 1;
}

.commentary-text {
    display: block;
    margin-top: 8px;
    margin-left: 30px;
    line-height: 1.4;
}

ul, ol {
  padding-left: 0;
  margin-left: 0;
}

/* Table styles */
th {
    text-align: left;
}

.financial-accounts th.right-aligned {
    text-align: right;
    padding-right: 2px;
}

.financial-accounts td.right-aligned {
    text-align: right;
    padding-right: 2px;
}

/* Center aligned content */
.center-aligned {
    text-align: center;
}

/* Checkbox styling */
.checkbox {
    font-size: 18px;
    display: inline-block;
    line-height: 1;
}
